body {
    margin: 5%;
    font-family: 'Courier New', Courier, monospace;
    }

code {
    font-family: 'Courier New', Courier, monospace;
}
#Heading {
    background-color: aquamarine;
    padding: 2%;
    align-content: center;
}
.smallTxt {
    margin: 2%;
    background-color: gray;
    align-content: center;
}
.subTxt {
    margin: 2%;
    background-color: yellow;
    align-content: center;
}
.imageBoxC{
    margin: 2%;
    align-content: center;
}
h1 {
    color: blue;
}
p {
    color: black;
}
a:hover {
    color: red;
}