body {
    margin: 500;
    font-family: 'Courier New', Courier, monospace;
    }

code {
    font-family: 'Courier New', Courier, monospace;
}
#Heading {
    background-color: aquamarine;
    padding: 10%;
    align-content: center;
}
#Subtext {
    background-color: red;
    align-content: end;
}
h1 {
    color: blue;
}
p {
    color: green;
}